//- Syntactical sugar to beautify nav links
mixin nav-item(link, name)
  li
    a(href= link) #{name}
    
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(description= 'Carpet and base for your commercial space! BaseByDottie has highly experienced contractors who have done exceptional work for the Greater Seattle Area. Come check us out!')
    meta(author= 'Ryan Erickson (ryan@ryansip.com)')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body.text-info.bg-tile
    div.bg-well(class='container well')
      //- NAVBAR
      nav.navbar.navbar-default
        div.container-fluid
          //- NAV-HEADER
          div.navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar')
              span.sr-only Toggle Navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/') Base By Dottie
          //- NAV-BODY
          div#navbar.navbar-collapse.collapse
            ul(class='nav navbar-nav navbar-right')
              +nav-item('/invoicing', 'Invoicing')
              li.dropdown(role='presentation')
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button') View
                  span.caret
                ul(class='dropdown-menu')
                  +nav-item('/invoicing/invoices', 'All invoices')
                  +nav-item('/invoicing/customers', 'All customers')
              li.dropdown(role='presentation')
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button') Create
                  span.caret
                ul(class='dropdown-menu')
                  +nav-item('/invoicing/invoice/create', 'New invoice')
                  +nav-item('/invoicing/customer/create', 'New customer')  
      //- PAGE CONTENT
      block content
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
