extends app_layout
          
block content
  div.container-fluid(class='text-center')
    h1= title
    
    - var i = 0;
    while i < customer_list.length
        +customerListCard(customer_list[i++])
