extends layout

block content
  div.row.text-center(class='bg-primary')
    h1.text-center= title
    h3= 'Carpet and base for your commercial space!'

    img(class='rounded' src='/images/dots.png' alt='Base By Dottie Logo')

    h1 Base By Dottie
    p
      | Bellevue, WA 98007
      br
      | Dottie@BaseByDottie.com


  footer.text-center
    p
      Copyright 2018 Base By Dottie LLC - All Rights Reserved
