extends layout

block content
  div.col-xs-12.text-center
    h1= title
    h3= 'Carpet and base for your commercial space!'

    img(src='/images/dots-circle.png' alt='Base By Dottie Logo' style='width: 100%;')

    h3 Base By Dottie LLC
    p
      | Bellevue, WA 98007
      br
      | dottie@basebydottie.com
      br
      | License #: BASEDDL834KS


  footer.text-center
    div.col-xs-12
      hr
      p.text-muted= '© 2018 Base By Dottie LLC - All Rights Reserved'
