extends layout

block content
  div.col-xs-12.text-center
    h1= title
    h3= 'Carpet and base for your commercial space!'

    div.row
      div.col-xs-2
      div.col-xs-8
        img(src='/images/dots-circle.png' alt='Base By Dottie Logo' style='width: 100%;')
      div.col-xs-2
        
    div#about.row
      h3 About Us
      div.col-xs-12
        p 
          | Dottie and her team are a group of highly experienced flooring specialists working in the Greater Seattle Area.
          | From mom-and-pop business offices, to giant tech headquarters, we have the tools and experience to do it all.
          | Take a peek at our current service offerings and drop us a line to get your project done right and on time!
      div.col-xs-6
        img(src='/images/demo.jpg' alt='Demolition' style='width: 100%')
        p 
          em Dottie does demo!
      div.col-xs-6
        img(src='/images/carpet.jpg' alt='Carpet Tiles' style='width: 100%')
        p 
          em Dottie does carpet!
      div.col-xs-12
        img(src='/images/base.jpg' alt='Wall Base' style='width: 100%')
        p 
          em Dottie does base!
        
    div#contact.row
      h3 Contact Us
      p 
        | Base By Dottie LLC
        br
        | Bellevue, WA 98007
        br
        | dottie@basebydottie.com
        br
        | License #: BASEDDL834KS


  footer.text-center
    div.col-xs-12
      hr
      p.text-muted= '© 2018 Base By Dottie LLC - All Rights Reserved'
      a.text-muted(href='/login')= 'Employee Login'
