extends layout

block content
  div(class='text-center')
    h1 #{title}
    p Welcome to the invoicing page, the perfect solution to your small business needs!

    h3 Invoice metrics

    if error
      p Error retrieving invoice metrics
    else
      p The database currently holds:
      p #[strong Users:] !{data.user_count}
      p #[strong Customers:] !{data.customer_count}
      p #[strong Invoices:] !{data.invoice_count}
