extends layout

block content
  div(class='text-center')
    h1= title

  ul
  each invoice in invoice_list
    li
      a(href=invoice.url) #{invoice.invoice_number}
      | (#{invoice.project_name})

  else
    p(class='text-center') There are no invoices yet! 
