//- A simple 'mixin' template for my sidebar buttons
//- (link, name) -> <li><a class="btn btn-primary sidebar-btn" href="link">name</a></li>
mixin sidebar-button(link, name)
  li
    a.btn.btn-primary.sidebar-btn(href= link) #{name}

doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(description= 'The homepage of www.basebydottie.com')
    meta(author= 'Ryan Erickson (ryan@ryansip.com)')

    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/narrow-jumbotron.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')


  body.bg-info
    div(class='container-fluid')
      div(class='header clearfix')
        nav
          ul(class='nav nav-pills pull-right')
            li(role='presentation')
              a(href='/') Home
            li(role='presentation')
              a(href='') About
            li(role='presentation')
              a(href='') Contact
        h3(class='text-muted') Base By Dottie

      div(class='row')
        div(class='col-sm-2')
          ul(class='sidebar-nav')
            +sidebar-button('/invoicing', 'Invoicing')
            +sidebar-button('/invoicing/invoices', 'All invoices')
            +sidebar-button('/invoicing/businesses', 'All businesses')
            hr
            +sidebar-button('/invoicing/invoice/create', 'Create new invoice')
            +sidebar-button('/invoicing/business/create', 'Create new business')

        div(class='col-sm-10')
          block content
