//- A simple 'mixin' template for my sidebar buttons
//- (link, name) -> <li><a class="btn btn-primary sidebar-btn" href="link">name</a></li>
mixin sidebar-button(link, name)
  li
    a.btn.btn-primary.sidebar-btn(href= link) #{name}

mixin nav-item(link, name)
  li(role=presentation)
    a(href= link) #{name}
    
doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(description= 'The homepage of www.basebydottie.com')
    meta(author= 'Ryan Erickson (ryan@ryansip.com)')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')

  body(style='background: url("/images/tile.jpg"); background-repeat: true')
    div(class='container well')
      div(class='header clearfix')
        div.col-xs-6
          h3(class='text-muted')
            a(href='/') Base By Dottie
        div.col-xs-6
          nav
            ul(class='nav nav-pills pull-right')
              li(role='presentation')
                a(href='/') Home
              li(role='presentation')
                a(href='') About
              li(role='presentation')
                a(href='') Contact
              li(role='presentation')
                a.btn.btn-primary(onclick='var elem = document.getElementById("login"); elem.hidden = (true===elem.hidden ? false : true);') Log In

        div#login.col-xs-12(hidden)
          nav
            ul(class='nav nav-pills pull-right')
              +nav-item('/invoicing', 'Invoicing')
              +nav-item('/invoicing/invoices', 'All invoices')
              +nav-item('/invoicing/businesses', 'All businesses')
              +nav-item('/invoicing/invoice/create', 'New invoice')
              +nav-item('/invoicing/business/create', 'New business')

      div(class='col-sm-12')
        block content
        
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
