.navbar {
  background-color: rgb(145, 197, 211);
}

.navbar-brand {
  color: #FFF !important;
}

.navbar-nav>li>a {
  color: #FFF !important;
}

.navbar-default
.navbar-toggle
.icon-bar {
  background-color: #FFF;
}

.navbar-default
.navbar-nav
.open
.dropdown-menu>li>a  {
  color: #FFF;
}

.dropdown-menu {
  background-color: rgb(145, 197, 211);
}

p {
    font-size: 15px;
}

.btn-full-width {
  width: 100%;
}

.btn-half-width {
  width: 50%;
}

.bg-tile {
  background: url("/images/tile.jpg");
  background-repeat: repeat;
  background-position: center top;
}

.bg-well{
  background: rgba(255, 255, 255, 0.8);
}
